*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background-color: #003A4E;
  text-align: center;
  height: 100vh; }

.state {
  font-family: 'Lato';
  text-align: center;
  margin-top: 70px;
  color: #FEFEFE; }

.btn {
  display: inline-block;
  width: 15%;
  height: 50px;
  padding: 15px 25px;
  margin-top: 50px;
  text-align: center;
  background-color: #FEFEFE;
  border: 1px solid transparent;
  color: #003A4E;
  font-family: 'Lato';
  text-decoration: none;
  transition: all .4s; }

.btn:hover {
  border: 1px solid #FEFEFE;
  background-color: #029C83;
  transform: scale(1.2);
  color: #FEFEFE;
  box-shadow: 3px 6px 5px rgba(0, 0, 0, 0.2); }

.wins {
  color: #DEBC04; }

.loses {
  color: #d80505; }

.gameboard {
  margin-top: 70px;
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
  background-color: teal;
  width: 500px;
  height: 60vh;
  font-size: 100px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2); }
  .gameboard__row1, .gameboard__row2, .gameboard__row3 {
    height: calc(100% / 3);
    display: flex; }
    .gameboard__row1-item, .gameboard__row2-item, .gameboard__row3-item {
      height: 100%;
      width: calc(100% / 3);
      display: flex;
      justify-content: center;
      align-items: center; }
    .gameboard__row1-item:not(:last-child), .gameboard__row2-item:not(:last-child), .gameboard__row3-item:not(:last-child) {
      border-right: 3px solid #FEFEFE; }
  .gameboard__row2 {
    border-top: 3px solid #FEFEFE;
    border-bottom: 3px solid #FEFEFE; }
